---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Saatnya lebih sayang sama diri sendiri! Veromance punya produk perawatan tubuh & kewanitaan yang bikin kamu makin pede. Aman, terdaftar BPOM, privasi terjaga. Yuk, cek!" />
        <!-- <BaseHead title={title} /> -->
        <title>{title}</title>
        <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="/suxnix/assets/img/favicon.png" />
        <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->
        <link rel="stylesheet" href="/suxnix/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/suxnix/assets/css/animate.min.css" />
        <link rel="stylesheet" href="/suxnix/assets/css/magnific-popup.css" />
        <link rel="stylesheet" href="/suxnix/assets/css/fontawesome-all.min.css" />
        <link rel="stylesheet" href="/suxnix/assets/css/flaticon.css" />
        <link rel="stylesheet" href="/suxnix/assets/css/jquery-ui.css" />
        <link rel="stylesheet" href="/suxnix/assets/css/odometer.css" />
        <link rel="stylesheet" href="/suxnix/assets/css/slick.css" />
        <link rel="stylesheet" href="/suxnix/assets/css/default.css" />
        <link rel="stylesheet" href="/suxnix/assets/css/style.min.css" />
        <link rel="stylesheet" href="/suxnix/assets/css/responsive.css" />
    </head>
    <body>
        <div class="page-wrapper relative z-[1] bg-white">
            <Header />
            <article>
                <slot />
                <!-- your content is injected here -->
            </article>
            <Footer />
        </div>
        <!-- JS here -->
        <script is:raw src="/suxnix/assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script is:raw src="/suxnix/assets/js/bootstrap.min.js"></script>
        <script is:raw src="/suxnix/assets/js/isotope.pkgd.min.js"></script>
        <script is:raw src="/suxnix/assets/js/imagesloaded.pkgd.min.js"></script>
        <script is:raw src="/suxnix/assets/js/jquery.magnific-popup.min.js"></script>
        <script is:raw src="/suxnix/assets/js/jquery.odometer.min.js"></script>
        <script is:raw src="/suxnix/assets/js/jquery.appear.js"></script>
        <script is:raw src="/suxnix/assets/js/jquery.paroller.min.js"></script>
        <script is:raw src="/suxnix/assets/js/jquery.easypiechart.min.js"></script>
        <script is:raw src="/suxnix/assets/js/jquery.inview.min.js"></script>
        <script is:raw src="/suxnix/assets/js/jquery.easing.js"></script>
        <script is:raw src="/suxnix/assets/js/jquery-ui.min.js"></script>
        <script is:raw src="/suxnix/assets/js/svg-inject.min.js"></script>
        <script is:raw src="/suxnix/assets/js/jarallax.min.js"></script>
        <script is:raw src="/suxnix/assets/js/slick.min.js"></script>
        <script is:raw src="/suxnix/assets/js/validator.js"></script>
        <script is:raw src="/suxnix/assets/js/ajax-form.js"></script>
        <script is:raw src="/suxnix/assets/js/wow.min.js"></script>
        <script is:raw src="/suxnix/assets/js/main.js"></script>
        <script>
            SVGInject(document.querySelectorAll('img.injectable'));
        </script>
    </body>
</html>
